In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score

In [4]:
# Importing data into pandas DataFrame
dataset = pd.read_csv(r'updated_air_quality_data.csv')

# DataFrame shape
dataset.shape

(18016, 9)

In [6]:
# Displaying the first rolls of the dataset
dataset.head()

,Unique ID,Name,Measure,Geo Type Name,Geo Place Name,Time Period,Start_Date,Data Value,Air Quality Category
0,179772,Emissions,Density,UHF42,Queens,Other,2015-01-01,0.3,Good
1,179785,Emissions,Density,UHF42,Unknown,Other,2015-01-01,1.2,Good
2,178540,General Pollution,Miles,UHF42,Unknown,Annual Average,2011-12-01,8.6,Good
3,178561,General Pollution,Miles,UHF42,Queens,Annual Average,2011-12-01,8.0,Good
4,823217,General Pollution,Miles,UHF42,Queens,Summer,2022-06-01,6.1,Good

In [9]:
# Summary of data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18016 entries, 0 to 18015
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unique ID             18016 non-null  int64
 1   Name                  18016 non-null  object
 2   Measure               18016 non-null  object
 3   Geo Type Name         18016 non-null  object
 4   Geo Place Name        18016 non-null  object
 5   Time Period           18016 non-null  object
 6   Start_Date            18016 non-null  object
 7   Data Value            18016 non-null  float64
 8   Air Quality Category  18016 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [14]:
# Seems like there is no missing values in this dataset, let's make sure of it
display(dataset.isna().sum())
display(dataset.isnull().sum())

Unique ID               0
Name                    0
Measure                 0
Geo Type Name           0
Geo Place Name          0
Time Period             0
Start_Date              0
Data Value              0
Air Quality Category    0
dtype: int64

Unique ID               0
Name                    0
Measure                 0
Geo Type Name           0
Geo Place Name          0
Time Period             0
Start_Date              0
Data Value              0
Air Quality Category    0
dtype: int64

In [10]:
# Statistical summary
dataset.describe()

           Unique ID    Data Value
count   18016.000000  18016.000000
mean   426187.112789     21.412678
std    250391.154793     23.976151
min    121644.000000      0.000000
25%    175300.750000      8.900000
50%    410798.500000     15.200000
75%    649886.250000     26.700000
max    828353.000000    424.700000